{% extends '/layout.html' %} {% block body %}
<!--  -->
<aside class="fixed h-full w-[theme(spacing.w-sidebar)] border-zinc-700 border-r px-4 flex flex-col overflow-y-auto">
  <input
    class="w-full py-2 px-4 my-4 bg-zinc-800 border border-zinc-700 rounded-lg focus:outline-none focus:border-blue-300 text-white"
    type="search" placeholder="Search for albums, songs, etc..." hx-get="/search" hx-trigger="keyup changed delay:0.5s"
    hx-include="[name='search']" name="search" id="search" hx-swap="innerHTML" hx-target="#search-results" />
  <div id="search-results"></div>
</aside>

<div class="bg-zinc-950 pl-[theme(spacing.w-sidebar)]">
  <div class="p-4 flex justify-center">
    <div class="bg-black h-[297mm] w-[210mm] text-black relative" id="poster">
      {% include 'home/components/poster.html' %}
    </div>
  </div>
</div>
<!--  -->
{% endblock %}