<img class="w-full" src="{{ album.cover_url }}">
<div class="flex flex-col p-12 pt-[200px] z-10 h-[60%] w-full absolute text-white bottom-0"
    style="background-image: linear-gradient(to top, black 0%, black 66%, transparent 100%)">

    <div>
        <h1 class="font-extrabold text-4xl">{{ album.title }}</h1>
        <h2 class="font-normal text-2xl">{{ album.artist }}</h2>
        <hr class="my-6 h-3 border-t-4 rounded-sm">
    </div>

    <div class="flex gap-10 ml-6 h-[290px]">
        <ul class="list-decimal list-outside h-full flex flex-grow flex-col flex-wrap gap-x-10 gap-y-[2px]">
            {% for track in album.tracks %}
            <li>{{track.title}}</li>
            {% endfor %}
        </ul>

        <div>
            <div class="flex flex-col items-end pb-6" id="release-year">
                <h3 class="font-normal text-xl">Release Year</h3>
                <span>{{ album.year }}</span>
            </div>

            <div class="flex flex-col items-end" id="album-release">
                <h3 class="font-normal text-xl">Album Length</h3>
                <span>{{ album.duration_minutes }}</span>
            </div>

        </div>
    </div>
</div>